# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*

!/log/.keep
!/tmp/.keep

# Ignore Byebug command history file.
.byebug_history
.DS_Store

# Ignore .idea
.idea/

# Ignore parsed images
/app/assets/images/tv_series/*
/app/assets/images/movies/*
!/app/assets/images/tv_series/.keep
!/app/assets/images/movies/.keep