.nested-fields
  %br/
  
  .input-group.input-group-sm
    %span.input-group-addon email
    = f.email_field :email, class: 'form-control input'
    %span.input-group-btn
      = link_to_remove_association "remove", f, :class => "btn btn-danger"
  
  %br/
  