- @movies.each do |movie|
  .thumbnail
    %p
      %small.pull-left= link_to movie.name, movie.sources.last.link
    %img{alt: movie.name, src: 'http://img.dotua.org/fsua_items/cover/00/41/28/2/00412877.jpg'}
