%ul.nav.nav-tabs.tabs-right.sideways
  %li.active
    %a{"data-toggle" => "tab", :href => "#films-r"} 
      %b Films
  %li
    %a{"data-toggle" => "tab", :href => "#series-r"} 
      %b Series
  %li
    %a{"data-toggle" => "tab", :href => "#favorites-r"}
      %b Favorites