- @tv_series.each do |tv_series|
  .thumbnail
    %p
      %small.pull-left= link_to tv_series.name, tv_series.sources.last.link
    %img{alt: tv_series.name, src: 'http://img.dotua.org/fsua_items/cover/00/41/28/2/00412877.jpg'}
    %p
      %small.pull-right= link_to "s.#{tv_series.sources.last.season} e.#{tv_series.sources.last.episode}", tv_series.sources.last.link
