.contenthover.center-block

  - if current_user.subscribed?(media.id)
    %a.btn.btn-sm.btn-primary.subscribe.hidden{media_id: media.id.to_s}
      %i.glyphicon.glyphicon-ok
      Subscribe
    %a.btn.btn-sm.btn-primary.unsubscribe{media_id: media.id.to_s}
      %i.glyphicon.glyphicon-trash
      Unsubscribe
  - else
    %a.btn.btn-sm.btn-primary.subscribe{media_id: media.id.to_s}
      %i.glyphicon.glyphicon-ok
      Subscribe
    %a.btn.btn-sm.btn-primary.unsubscribe.hidden{media_id: media.id.to_s}
      %i.glyphicon.glyphicon-trash
      Unsubscribe

  %a.btn.btn-sm.btn-primary{href: media.sources.last.link, target: '_blank'}
    %i.glyphicon.glyphicon-facetime-video
    Watch now