.thumbnail.for_media.pull-left{id: movie.id.to_s}

  %h5.thumbnail_header.text-white.pull-left
    = (movie.name.size > 15 ? "#{movie.name[0..14]}..." : movie.name)

  .thumbnail_body
    = image_tag movie.picture_path, alt: movie.name, class: 'picture'
    .contenthover
      - if current_user.subscribed?(movie.id)
        %p UNSUBSCRIBE
        %p
          %span.glyphicon.glyphicon-ok-circle.hidden.subscribe{media_id: movie.id.to_s}
          %span.glyphicon.glyphicon-remove-circle.unsubscribe{media_id: movie.id.to_s}
      - else
        %p.action
          SUBSCRIBE
        %p
          %span.glyphicon.glyphicon-ok-circle.subscribe{media_id: movie.id.to_s}
          %span.glyphicon.glyphicon-remove-circle.hidden.unsubscribe{media_id: movie.id.to_s}

  %h6.thumbnail_footer.text-white
    %span.pull-right= movie.sources.last.released ? 'Released' : 'Soon'
