%a{"data-route" => "routes.episodes"} Episodes
|
%a{"data-route" => "routes.favorites"} Favorites

%table
  %thead
    %tr
      %th photo
      %th name
      %th episode
      %th date
  %tbody
    %tr{"data-foreach-favorite" => "favorites"}
      %td
        %img{"data-bind-src" => "favorite.photo"}/
      %td
        %a{"data-bind" => "favorite.name", "data-bind-href" => "favorite.url"}
      %td
        s.
        %span{"data-bind" => "favorite.last_season"}
        e.
        %span{"data-bind" => "favorite.last_episode"}
      %td
        %span{"data-bind" => "favorite.updated_at"}
  %table/