.episodes {
  overflow-y: scroll;
}

.thumbnail {
  display: block;
  border: 1px solid #464545;
  border-radius: 4px;
  -webkit-transition: border 0.2s ease-in-out;
  -o-transition: border 0.2s ease-in-out;
  transition: border 0.2s ease-in-out;
  //height: 255px;
  width: 180px;  
  margin: 25px 25px 25px 25px;
}

.thumbnail .episode_photo {
  position: relative;
  //top: -30px;
  margin: 0 0 0 0;
  padding: 0 0 0 0; 
  width: 175px;
  height: 250px;
}

.thumbnail .top, .bottom { 
  position: relative; 
  z-index: 50;
  //background: black;
  //opacity: 0.6;
  margin: 0 0 0 0;
  padding: 0 0 0 0; 
  padding-left: 10px;  
  height: 30px;
}

.thumbnail .top:hover, .bottom:hover {
  //opacity: 0.8;
}

.thumbnail .top .last_epidode {
  position: relative;
  top: 4px;
}

.thumbnail .bottom {
  //top: -60px;
}

.thumbnail .bottom .episode_name {
  position: relative;
  top: 4px;  
}