//colors
$color_steel_gray_approx: #1f2736;
$color_mirage_approx: #121823;
$black_50: rgba(0,0,0,0.5);
$white_20: rgba(255,255,255,0.2);
$color_outer_space_approx: #283446;
$color_pickled_bluewood_approx: #36455b;
$black_30: rgba(0,0,0,0.3);
$black_40: rgba(0,0,0,0.4);
$black_20: rgba(0,0,0,0.2);
$white_10: rgba(255,255,255,0.1);
$black_90: rgba(0,0,0,0.9);
$color_charlotte_approx: #b9f3fe;
$white: #ffffff;
$color_bali_hai_approx: #77a1b9;
$black_10: rgba(0,0,0,0.1);
$color_turquoise_blue_approx: rgba(100,231,253,1);
$color_picton_blue_80_approx: rgba(61,157,247,0.8);
$color_french_pass_30_approx: rgba(185,231,253,0.3);
$color_french_pass_50_approx: rgba(185,231,253,0.5);

.switch {
  width: 180px;
  height: 55px;
  position: relative;
  margin: 100px auto;
  input {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    filter: alpha(opacity=0);
    opacity: 0;
    z-index: 100;
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    ~ label i {
      display: block;
      height: 51px;
      width: 51px;
      position: absolute;
      left: 2px;
      top: 2px;
      z-index: 2;
      //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
      border-radius: inherit;
      background: $color_outer_space_approx;
      background: linear-gradient($color_pickled_bluewood_approx, $color_outer_space_approx);
      //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
      box-shadow: inset 0 1px 0 $white_20, 0 0 8px $black_30, 0 12px 12px $black_40;
      //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
      transition: all .5s ease;
    }
    &:checked ~ label {
      + span {
        content: "";
        display: inline-block;
        position: absolute;
        width: 18px;
        height: 18px;
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 10px;
        //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
        transition: all .5s ease;
        z-index: 2;
        background: $color_charlotte_approx;
        background: gradient-gradient($white, $color_bali_hai_approx);
        //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
        box-shadow: inset 0 1px 0 $black_10, 0 1px 0 $white_10, 0 0 10px $color_turquoise_blue_approx, inset 0 0 8px $color_picton_blue_80_approx, inset 0 -2px 5px $color_french_pass_30_approx, inset 0 -3px 8px $color_french_pass_50_approx;
      }
      i {
        left: auto;
        left: 63%;
        //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
        box-shadow: inset 0 1px 0 $white_20, 0 0 8px $black_30, 0 8px 8px $black_30, inset -1px 0 1px $color_charlotte_approx;
        //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
        transition: all .5s ease;
      }
    }
  }
  label {
    display: block;
    width: 80%;
    height: 100%;
    position: relative;
    background: $color_steel_gray_approx;
    background: linear-gradient($color_mirage_approx, $color_mirage_approx);
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 30px 30px 30px 30px;
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: inset 0 3px 8px 1px $black_50, inset 0 1px 0 $black_50, 0 1px 0 $white_20;
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: all .5s ease;
    + span {
      content: "";
      display: inline-block;
      position: absolute;
      right: 0;
      top: 17px;
      width: 18px;
      height: 18px;
      //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
      border-radius: 10px;
      background: $color_outer_space_approx;
      background: gradient-gradient($color_pickled_bluewood_approx, $color_outer_space_approx);
      //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
      box-shadow: inset 0 1px 0 $black_20, 0 1px 0 $white_10, 0 0 10px rgba(185,231,253,0), inset 0 0 8px $black_90, inset 0 -2px 5px $black_30, inset 0 -5px 5px $black_50;
      //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
      transition: all .5s ease;
      z-index: 2;
    }
  }
}