table.table-fixedheader {
  width: 100%;
}

table.table-fixedheader,
table.table-fixedheader>thead,
table.table-fixedheader>tbody,
table.table-fixedheader>thead>tr,
table.table-fixedheader>tbody>tr,
table.table-fixedheader>thead>tr>th,
table.table-fixedheader>tbody>td {
  display: block;
}


table.table-fixedheader>thead>tr:after,
table.table-fixedheader>tbody>tr:after {
  content: ' ';
  display: block;
  visibility: hidden;
  clear: both;
}

table.table-fixedheader>tbody.episodes {
  overflow-y: scroll;
}

table.table-fixedheader>thead {        
  overflow-y: scroll;
}

table.table-fixedheader>thead::-webkit-scrollbar{
  background-color: inherit;
}

table.table-fixedheader>thead>tr>th,
table.table-fixedheader>tbody>tr>td {
  width: 20%;
  float: left;
}