\= bootstrap_devise_error_messages!
\.panel.panel-default.devise-bs
\.panel-heading
\%h4= t('.resend_confirmation_instructions', :default =&gt; 'Resend confirmation instructions')
\.panel-body
\= form_for(resource, :as =&gt; resource_name, :url =&gt; confirmation_path(resource_name), :html =&gt; { :method =&gt; :post, role: "form" }) do |f|
\.form-group
\= f.label :email
\= f.email_field :email, autofocus: true, class: "form-control"
\= f.submit t('.resend_confirmation_instructions', :default =&gt; 'Resend confirmation instructions'), class: "btn btn-primary"
\= render "devise/shared/links"
