.container
  .content-settings.text-center
    %a{:href => destroy_user_session_path}
      %span.glyphicon.glyphicon-log-out
    %a{:href => edit_user_registration_path}
      %span.glyphicon.glyphicon-wrench