%ul.nav.nav-list.sidebar-settings
  %li
    .checkbox.checkbox-slider--b
      %label
        %input{:type => "checkbox"}/
        %span Email          
  %li
    .checkbox.checkbox-slider--b
      %label
        %input{:type => "checkbox"}/
        %span Facebook
  %li
    .checkbox.checkbox-slider--b
      %label
        %input{:type => "checkbox"}/
        %span Vkontakte
  %li
    .checkbox.checkbox-slider--b
      %label
        %input{:type => "checkbox"}/
        %span Twitter
  %li
    .checkbox.checkbox-slider--b
      %label
        %input{:type => "checkbox"}/
        %span Hangouts